.DS_Store

PuzzleGameForAdri/Library/

PuzzleGameForAdri/Logs/

PuzzleGameForAdri/Temp/

PuzzleGameForAdri/.vs/

PuzzleGameForAdri/obj/

*.csproj

*.sln

PuzzleGameForAdri/Assets/StreamingAssets/data/

PuzzleGameForAdri/Assets/StreamingAssets.meta

PuzzleGameForAdri/Assets/StreamingAssets/data.meta

PuzzleGameForAdri/Assets/GeneratedLocalRepo.meta